<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mixer Stats{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        	  <link rel="stylesheet" href="{{ asset('css/normalize.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="{{ asset('js/app.js') }}"></script>
             <script src={{ asset('js/jquery.min.js') }}></script>
      <script  src="{{ asset('js/script.js') }}"></script>

        {% endblock %}
    </body>
</html>
