{% extends 'base.html.twig' %}

{% block title %}Adition{% endblock %}

{% block body %}
	 
	<div id="calc">
	  <div id="screen">
	  </div>
	  <ul id="num">
		<li data-num="1">1</li>
		<li data-num="2">2</li>
		<li data-num="3">3</li>
		<li data-num="4">4</li>
		<li data-num="5">5</li>
		<li data-num="6">6</li>
		<li data-num="7">7</li>
		<li data-num="8">8</li>
		<li data-num="9">9</li>
		<li data-num="0">0</li>
		<li data-num=".">,</li>
		<li data-num="c">c</li>
	  </ul>
	  <ul id="opp">
		<li data-opp="+">+</li>
		<li data-opp="-">-</li>
		<li data-opp="*">*</li>
		<li data-opp="/">/</li>
		<li data-opp="=">=</li>
	  </ul>
	</div>
{% endblock %}
