* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
}

ul {
  margin-top: 5px;
  padding: 0;
  list-style: none;
  text-align: center;
}
ul li {
  border: 2px solid #eeeeee;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#calc {
  width: 400px;
  margin: 20px auto 0 auto;
  overflow: hidden;
}

#num {
  width: 300px;
  float: left;
  overflow: hidden;
}
#num li {
  float: left;
  width: 33.33%;
  padding: 30px 0;
  background: #dddddd;
}

#opp {
  width: 100px;
  float: left;
}
#opp li {
  padding: 15px 0;
  color: #ffffff;
  background: #888888;
}
#opp li:last-child {
  background: #d55500;
}

#screen {
  height: 65px;
  padding: 0 30px;
  line-height: 65px;
  font-size: 2em;
  text-align: right;
  color: #ffffff;
  border: 2px solid #eeeeee;
  background: #34363a;
}